a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f8f8f8;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14rem;
  flex: 1;
}

.btn-nav {
  display: inline-block;
  background-color: #f8f8f8;
  color: #333;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 30px;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-nav:hover {
  background-color: #020202;
  color: #fff;
}

.btn-nav:active {
  transform: translateY(2px);
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #717744;
  color: #f8f8f8;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 15px;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2rem;
  /* Add margin bottom to push button down */
}

.btn:hover {
  background-color: #a6ad70;
  color: white;
}

.btn:active {
  transform: translateY(4px);
}

.content p {
  color: #f8f8f8;
  font-size: 1.5rem;
  margin-top: 14rem;
  margin-bottom: 2rem;
}

.type {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: start;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.footer {
  background-color: #717744;
  color: #fff;
  text-align: center;
  padding: 1rem;
  z-index: 1;

  /* Add z-index to make sure the footer is on top of the background image */
}

.footer p {
  margin: 0;
}

.bg-img {
  background: url("https://images.unsplash.com/photo-1543352634-a1c51d9f1fa7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80")
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: calc(100vh - 80px);
  position: relative;
  filter: saturate(110%);
  filter: brightness(98%);

  /* Add relative positioning to the background image container */
}

.action-card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}

.action-card-area h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.action-card-area h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.action-card-area__cards-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 90%;
}

.how-to-steps {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 5rem;
}

.content h1 {
  text-align: left;
}

.myTypist {
  margin-top: 7rem;
  font-size: 3.2rem;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  white-space: pre-line;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 1);
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content p {
  opacity: 0;
}

.content button {
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.tagline {
  margin-top: 3rem;
  width: 100%;
  background-color: #ecede0;
}

.tagline h3 {
  margin: 4rem;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// .text-button {
//   margin: 2rem;
// }

.text-button p {
  color: white;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 1);
  text-align: center;
  padding-top: 2.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
