/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  font-size: 16rem;
  line-height: 1.5;
}

/* Layout */
.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Changed to flex-start to make sure navbar is always at the top */
  overflow: hidden;
}
